html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  background-color: #fff;
  border: solid black;
  color: #000;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
}

.btn-sm-subtle {
  font-size: .875rem;
  background-color: #ccc;
}

.btn-sm-subtle:hover {
  background-color: #666;
}

.btn-sm-ghost {
  font-size: .875rem;
  background-color: #fff;
  border: solid black;
  color: #000;
}

.btn-sm-ghost:hover {
  background-color: #666;
}

.btn-sm-warning {
  font-size: .875rem;
  background-color: #f33;
}

.btn-sm-warning:hover {
  background-color: #933;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-lg-subtle {
  font-size: 1.5rem;
  background-color: #ccc;
}

.btn-lg-subtle:hover {
  background-color: #666;
}

.btn-lg-ghost {
  font-size: 1.5rem;
  border: solid black;
  color: #000;
  background-color: #fff;
}

.btn-lg-ghost:hover {
  background-color: #666;
}

.btn-lg-warning {
  font-size: 1.5rem;
  background-color: #f33;
}

.btn-lg-warning:hover {
  background-color: #933;
}
